[Unit]
Description=backupX
After=multi-user.target

[Service]
Type=idle
ExecStartPre=/bin/mkdir -p /var/run/backupX
PIDFile=/var/run/backupX/service.pid
ExecStart=/usr/bin/python3 %pwd%/index.py

[Install]
WantedBy=multi-user.target
